page-preview {
  .background{
    background: url("../assets/imgs/04.jpg") no-repeat center center;
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;
  }
}
